/*vftdan*/
.site-title {
position:fixed;
top:-1pt;
left:1.6em;
font-size:20pt;
}
.r-side {
height:100%;
width:100px;
position:fixed;
top:0%;
right:-1pt;
}
.content-padding {
position:absolute;
top:3em;
background:red
left:10%;
}
.logo-img {
height:1.5em;
width:1.5em;
position:fixed;
top:1pt;
left:1pt;
}
.site-slogan {
Position:fixed;
top:20pt;
left:1pt

}
